.destination_nav{
    justify-content: space-around;
    display:flex;
    overflow-y:hidden;
}
.destination_nav a{
    font-size: 28px;
    transition: color 0.5s ease-in-out;

}
.destination_nav a:hover{
    color:deeppink;
}
